@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background: url("https://www.crafttrip.in/image/cache/catalog/buddha/003-buddha-painting-800x534w.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 750px;
  height: 516px;
  margin: 200px auto;
}

.circle {
  height: 300px;
  width: 300px;
  background: linear-gradient(
    90deg,
    rgba(14, 0, 255, 1) 0%,
    rgba(255, 0, 151, 1) 100%
  );
  position: absolute;
  top: 5%;
  left: 25%;
  border-radius: 50%;
  z-index: -1;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
