@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #252525;
}

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 5%;
}

p {
  margin-bottom: 50px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

#timer2 {
  display: inline-block;
  height: 503px;
  width: 503px;
  color: #fff;
  box-shadow: 0 0 0.2rem red, 0 0 0.2rem red, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;

  border-radius: 50%;
}

#timer {
  background: transparent;
  display: inline-block;
  height: 500px;
  width: 500px;
  color: #fff;
  position: absolute;
  transform: translateX(-50%);
}

#week {
  position: absolute;
  top: 40%;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: bold;
  transform: translateX(-50px);
}

/* @keyframes Light {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */
